snippet func "function template"
${1:function_name}($2) ->
	$0
endsnippet

snippet if "if template"
if
	${1:guard} ->
		${0:body}
end
endsnippet

snippet case "case template"
case ${1:expression} of
	${2:pattern} ->
		${0:body};
end
endsnippet
